@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

body{
    display:flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif !important;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none; 
  padding: 0;            
  margin: 0; 
  gap: 20px;            
}
li{
    font-size: 14px;
}
.Header, .Footer, .hero{
    display:flex;
    background-color: #1F2937;
    color: #F9FAF8;
}
.quote-block{
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 110px 22vw 90px 22vw;
}
.quote{
    font-weight: 300;
    font-style: italic;
    font-size: 32px;
}
.author{
    font-weight:bold;
    font-size: 20px;
    display: flex;
    justify-content: right;
    margin: 15px;
}
.random{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.block-action, button{
    background-color: #3882F6;
    padding: 40px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.hero-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.hero-subtext{
    font-size: 16px;
    color: #E5E7EB
}
.Header{
    justify-content: space-between;
    padding:15px 150px;
}
.hero{
    padding: 100px 150px;
    gap: 30px;
}
.left-1, .right-1{
    flex:1;
}
.right-1{
    justify-content: center;
    
}
.place1{
    align-self: center;
    background-color: #6d747e;
    padding: 100px;
    max-width: 250px;
    min-width: 250px;
}

button{
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
    margin-top: 10px;
}

.random{
    display:flex;
    font-size: 32px;
    justify-content: center;
    margin: 44px 0px;
}
.blocks-four{
    display:flex;
    justify-content: center;
    gap: 4vw;
}

.blocks{
    max-width: 145px;
    margin-bottom: 110px;
}

.block{
    border: #3882F6;
    border-width: 4px;
    border-style: solid;
    width: 145px;
    height: 145px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.subtext{
    font-size: 15px;
    color: #777777;
    text-align: center;
}
.call-outside{
    padding:90px 15vw;
}
.sign-call{
    border-color: white;
    border-width: 3px;
    box-shadow: none;
    border-style: solid;
    font-size: 17px;
    font-weight: 700;
}
.call{
    font-weight: 700;
    font-size: 20px;
}
.Footer{
    padding: 35px 0;
    display: flex;
    justify-content: center;
}